{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for holding in holdings %}
    <tr>
      <td>{{holding.stock}}</td>
      <td>{{holding.name}}</td>
      <td>{{holding.shares}}</td>
      <td>{{holding.price}}</td>
      <td>{{holding.total}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}