{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Buy/Sell</th>
      <th scope="col">Transacted</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions%}
    <tr>
      <td>{{transaction.stock}}</td>
      <td>{{transaction.shares}}</td>
      <td>{{transaction.price}}</td>
      <td>{{transaction.operation}}</td>
      <td>{{transaction.timestamp}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}